* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 2000px;
    margin: auto;
    background:#0b1438;
    overflow: auto;
    align-items: center;
    padding-left: 100px;
    padding-top: 100px;
}
.text{
    color: #fff;
    block-size: 40%;
    padding-left: 450px;
    padding-top: 1px;
    margin-top: -50px;
    
}
.logo img {

    width: 70px;
    margin-top: -5000px;
    margin-left: -50px;
    margin-right: 1px;
    margin-bottom: 20px;
}
.gallery {
    margin:5px; 
    border: 1px solid rgb(248, 249, 249);
    float: left;
    width:390px;
    align-items: left;
    margin-left: 100px;
    
    /* background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4); */
}
.gallery img{
    width:300px;
    height: 300px;
    float:center;
    padding-left: 40px;
}
.desc{
    padding:15px;
    text-align: center;
    color: #fff;
}

